@font-face {
    font-family: 'Playfair Display', serif;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
}

@font-face {
    font-family: 'Barlow', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Barlow&display=swap')
}